.vs/
.vscode/

bin/
build/
dist/
out/

*.exe
*.dll
*.lib
*.exp
*.obj
*.o
*.pdb
*.ilk
*.idb
*.suo
*.user
*.recipe
*.lastbuildstate
*.FileListAbsolute.txt
*.log
*.VC.db
*.opendb
*.cache

__pycache__/
*.pyc

web/server_pid.tmp
web/__pycache__/
web/tmp_debug_multi/

yosys/.vs/
yosys/build/
yosys/x64/
yosys/MyVSYosys/Debug/
yosys/MyVSYosys/Release/
yosys/MyVSYosys/x64/
yosys/MyVSYosys/MyVSYosys/Debug/
yosys/MyVSYosys/MyVSYosys/Release/
yosys/MyVSYosys/MyVSYosys/x64/

gcm-diagnose.log
/demo.il
/root_new.il
*.tmp
